.weather-header{
    background-image: linear-gradient(to right,lightskyblue, navy);
    color: white;
}

#form-heading{
    color: black;
    font-weight: 700;
}

.search-button{
    background-color: lightskyblue;
    color: white;
    width: 100%;
}

.history-btn{
    background-color: lightgrey;
    color: black;
    width: 50%;
}

.current{
    font-style: italic;
    font-weight: 500;
}

.forecast{
    background-color: rgb(44, 52, 70);
}